*{
  margin: 0%;padding: 0; box-sizing: border-box;
}
.row{
  height: 45vh;

}

.col-sm-12{
  margin: 2rem;
  box-shadow: 0px 13px 8px 5px rgba(0, 0, 0, ) ;
  padding-top: 1px;
 text-align: center;
 color: #fff;

}
.col-sm-12:hover{
  box-shadow: 0px 13px 8px 5px rgba(0, 0, 0, ) ;
  transform: scale(1.12,1.12);
}
.heading{
 padding-top: 1rem;
  text-align: center;
  
}
.heading span{
  color: #fff;

}
.col-sm-12 span{
  font-size: 2rem;
  font-weight: bolder;
}
.data{
  font-size: 3rem;
  font-weight: bolder;
  text-transform: uppercase;
 text-shadow: 0px 9px 2px rgba( 0,0 ,0 ,0.3)
            ,0px 9px 2px  rgba( 0,0 ,0 ,.3)  ,
            0px 9px 20px rgba( 0,0 ,0 ,.3) ,
            0px 9px 2px rgba( 0,0 ,0 ,0.3) ,
            0px 30px 5px rgba( 0,0 ,0 ,0.1);
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif , ;
 
}
.data1{
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: bolder;
  text-shadow: 0px 9px 2px rgba( 0,0 ,0 ,0.3)
            ,0px 9px 2px  rgba( 0,0 ,0 ,.3)  ,
            0px 9px 20px rgba( 0,0 ,0 ,.3) ,
            0px 9px 2px rgba( 0,0 ,0 ,0.3) ,
            0px 30px 5px rgba( 0,0 ,0 ,0.1);

  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif , ;
 
}
.footer{
  
  font-size: 1.3rem;
  text-align: center;
  font-family: sans-serif;
}
